@model IEnumerable<Hospital.Models.medico>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Success</strong> @TempData["SuccessMessage"]
    </div>
}
@if (TempData["FailMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>Fail</strong> @TempData["FailMessage"]
    </div>
}
<br />
<p>
    @Html.ActionLink("Create New", "Create") |
    @Html.ActionLink("ListVisite", "ListVisite")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cognome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodiceFiscale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genere)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroVisiteEffettuate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroDiTelefono)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cognome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodiceFiscale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroVisiteEffettuate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDiTelefono)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdMedico }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdMedico }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdMedico })
            </td>
        </tr>
    }

</table>
