@model Hospital.Models.infermiere

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>infermiere</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cognome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodiceFiscale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodiceFiscale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genere)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genere)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroDiTelefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroDiTelefono)
        </dd>

    </dl>
</div>
<div class="col-md-12">
    <div class="col-md-6">
        <h3>Visite a cui partecipa l'infermiere</h3>
        <table class="table">
            <tr>
                <th>
                    <label>Id Visita</label>
                </th>
                <th>
                    <label>Descrizione </label>
                </th>
                <th>
                    <label>Data</label>
                </th>
            </tr>
            @foreach (var medi in Model.visitas)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(model => medi.IdVisita)

                    </th>
                    <th>
                        @Html.DisplayFor(model => medi.Descrizione)

                    </th>
                    <th>
                        @Html.DisplayFor(model => medi.Giorno)

                    </th>
                </tr>

            }
        </table>
    </div>
    <div class="col-md-6">
        <h3>Interventi a cui partecipa l'infermiere</h3>
        <table class="table">
            <tr>
                <th>
                    <label>Id Intervento</label>
                </th>
                <th>
                    <label>Descrizione </label>
                </th>
                <th>
                    <label>Data</label>
                </th>
            </tr>
            @foreach (var medi in Model.interventoes)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(model => medi.IdIntervento)

                    </th>
                    <th>
                        @Html.DisplayFor(model => medi.Descrizione)

                    </th>
                    <th>
                        @Html.DisplayFor(model => medi.Giorno)

                    </th>
                </tr>

            }
        </table>
    </div>
</div>

<div class="col-md-12">
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.IdInfermiere }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

