@model Hospital.Models.intervento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>intervento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descrizione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OraInizio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OraInizio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OraFine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OraFine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Giorno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giorno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paziente.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paziente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.referto.Descrizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referto.Descrizione)
        </dd>

    </dl>
</div>
<div class="col-md-12">
    <div class="col-md-6">
        <h3>Infermieri</h3>
        <table class="table">
            <tr>
                <th>
                    <label>Id Infermiere</label>
                </th>
                <th>
                    <label>Nome</label>
                </th>
                <th>
                    <label>Codice Fiscale</label>
                </th>
            </tr>
            @foreach (var medi in Model.infermieres)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(model => medi.IdInfermiere)

                    </th>
                    <th>
                        @Html.DisplayFor(model => medi.Nome)

                    </th>
                    <th>
                        @Html.DisplayFor(model => medi.CodiceFiscale)

                    </th>
                </tr>

            }
        </table>
    </div>
    <div class="col-md-6">
        <h3>Chirurghi</h3>
        <table class="table">
            <tr>
                <th>
                    <label>Id Chirurgo</label>
                </th>
                <th>
                    <label>Nome </label>
                </th>
                <th>
                    <label>Codice Fiscale</label>
                </th>
            </tr>
            @foreach (var medi in Model.chirurgoes)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(model => medi.IdChirurgo)

                    </th>
                    <th>
                        @Html.DisplayFor(model => medi.Nome)

                    </th>
                    <th>
                        @Html.DisplayFor(model => medi.CodiceFiscale)

                    </th>
                </tr>

            }
        </table>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdIntervento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
