@model Hospital.Models.medicina

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>medicina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descrizione)
        </dd>

    </dl>
</div>
<h3>Cure a cui è associato</h3>
<table class="table">
    <tr>
        <th>
            <label>Id Cura</label>
        </th>
        <th>
            <label>Descrizione </label>
        </th>
    </tr>
    @foreach (var medi in Model.curas)
    {
        <tr>
            <th>
                @Html.DisplayFor(model => medi.IdCura)

            </th>
            <th>
                @Html.DisplayFor(model => medi.Descrizione)

            </th>
        </tr>

    }
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdMedicina }) |
    @Html.ActionLink("Back to List", "Index")
</p>
