@model IEnumerable<Hospital.Models.medicina>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Success</strong> @TempData["SuccessMessage"]
    </div>
}
@if (TempData["FailMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>Fail</strong> @TempData["FailMessage"]
    </div>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descrizione)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descrizione)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdMedicina }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdMedicina }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdMedicina })
            </td>
        </tr>
    }

</table>
