@model IEnumerable<Hospital.Models.tipologia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Success</strong> @TempData["SuccessMessage"]
    </div>
}
@if (TempData["FailMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>Fail</strong> @TempData["FailMessage"]
    </div>
}
<p>
    @Html.ActionLink("Create New", "Create") |
    @Html.ActionLink("Top 10 Tipologie", "TopDieciTipologie")

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdTipologia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descrizione)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.IdTipologia)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Tipo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Descrizione)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.IdTipologia }) |
        @Html.ActionLink("Details", "Details", new { id = item.IdTipologia }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.IdTipologia })
    </td>
</tr>
    }

</table>
