@model Hospital.Models.paziente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>paziente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cognome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodiceFiscale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodiceFiscale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genere)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genere)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroInterventiEffettuati)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroInterventiEffettuati)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroDiTelefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroDiTelefono)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdPaziente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
