@model IEnumerable<Hospital.Models.visita>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Success</strong> @TempData["SuccessMessage"]
    </div>
}
@if (TempData["FailMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>Fail</strong> @TempData["FailMessage"]
    </div>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descrizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OraInizio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OraFine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Giorno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paziente.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.referto.Descrizione)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descrizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OraInizio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OraFine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Giorno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.paziente.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.referto.Descrizione)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdVisita }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdVisita }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdVisita })
            </td>
        </tr>
    }

</table>
