@model Hospital.Models.cura

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>cura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.LabelFor(model => model.Descrizione)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Descrizione)
        </dd>
    </dl>
</div>
<table class="table">
    <tr>
        <th>
            <label>Id Medicinale</label>
        </th>
        <th>
            <label>Nome Medicinale</label>
        </th>
    </tr>
    @foreach (var medi in Model.medicinas)
    {
        <tr>
            <th>
                @Html.DisplayFor(model => medi.IdMedicina)

            </th>
            <th>
                @Html.DisplayFor(model => medi.Nome)

            </th>
        </tr>

    }
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCura }) |
    @Html.ActionLink("Back to List", "Index")
</p>
